/*  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Create own custom scrollbar */
/* Width */
::-webkit-scrollbar{
    width: 5px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #a8a8a8;
}
/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover{
    background: #9a9a9a;
}


/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

/* Navbar Section */
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    transition: all 0.3s ease-out;
}
nav.fixed{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background: #fefefe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Left Section */
.nav_left_section{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.logo_section a{
    font-size: 1.5rem;
    font-weight: 700;
    color: #1d1d1d;
}
.nav_items{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    transition: 0.5s ease-out;
}
.nav_items a{
    font-size: 1.1rem;
    font-weight: 500;
    color: #333333;
    transition: 0.5s ease-out;
}
.nav_items a:hover{
    color: #f14c05;
}
.nav_items .active{
    font-size: 1.1rem;
    font-weight: 600;
    color: #f14c05;
}
.search_section{
    width: 380px;
    height: 38px;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    background: #f1f1f1;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 10px;
}
.search_section i{
    font-size: 1.0rem;
    color: #1d1d1d;
}
.search_input{
    width: 100%;
    height: 100%;
    font-size: 0.99rem;
    color: #1d1d1d;
    outline: none;
    border: none;
    background: transparent;
}

/* Right Section */
.nav_right_section{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.nav_icon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.nav_icon i{
    font-size: 1.3rem;
    color: #333333;
    transition: all 0.5s ease-out;
}
.nav_icon:hover{
    background: #dedede;
}
.nav_icon:hover i{
    color: #f14c05;
}
.profile_section{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.profile_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* For Click to show */
.notification_box{
    position: fixed;
    float: right;
    right: -100%;
    top: 10%;
    width: 390px;
    min-height: 80vh;
    max-height: 85vh;
    background: #fafafa;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 10px 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    transition: all 0.4s ease-out;
}
.notification_box.showNotification{
    right: 1%;
}
.notification_title{
    font-size: 1.3rem;
    font-weight: 600;
    color: #1d1d1d;
    padding: 10px 20px;
    text-align: center;
}
.all_notification_box{
    width: 100%;
    max-height: 65vh;
    overflow-y: scroll;
}
.all_notification_box ::-webkit-scrollbar{
    display: none !important;
}
.notification_card{
    display: flex;
    align-items: flex-start;
    column-gap: 0.7rem;
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    margin-bottom: 1.0rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.notification_card img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.notify_name{
    font-size: 0.92rem;
    color: #1d1d1d;
}
.notification_card:hover{
    background: #dedede;
}




/*  */