/*  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Create own custom scrollbar */
/* Width */
::-webkit-scrollbar{
    width: 5px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #a8a8a8;
}
/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover{
    background: #9a9a9a;
}


/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

/* Navbar Section */
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    transition: all 0.3s ease-out;
}
nav.fixed{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background: #fefefe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Left Section */
.nav_left_section{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.logo_section a{
    font-size: 1.5rem;
    font-weight: 700;
    color: #1d1d1d;
}
.nav_items{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    transition: 0.5s ease-out;
}
.nav_items a{
    font-size: 1.1rem;
    font-weight: 500;
    color: #333333;
    transition: 0.5s ease-out;
}
.nav_items a:hover{
    color: #f14c05;
}
.nav_items .active{
    font-size: 1.1rem;
    font-weight: 600;
    color: #f14c05;
}
.search_section{
    width: 380px;
    height: 38px;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    background: #f1f1f1;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 10px;
}
.search_section i{
    font-size: 1.0rem;
    color: #1d1d1d;
}
.search_input{
    width: 100%;
    height: 100%;
    font-size: 0.99rem;
    color: #1d1d1d;
    outline: none;
    border: none;
    background: transparent;
}

/* Right Section */
.nav_right_section{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.nav_icon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.nav_icon i{
    font-size: 1.3rem;
    color: #333333;
    transition: all 0.5s ease-out;
}
.nav_icon:hover{
    background: #dedede;
}
.nav_icon:hover i{
    color: #f14c05;
}
.notification_active{
    background: #dedede;
    color: #f14c05;
}
.profile_section{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.profile_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* For Click to Show Notification */
.notification_box{
    position: fixed;
    float: right;
    right: -100%;
    top: 9%;
    width: 390px;
    min-height: 78vh;
    max-height: 85vh;
    background: #ffffff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    border: 1px solid #dfdfdf;
    transition: all 0.2s ease-out;
    z-index: 1;
}
.notify_indicator{
    position: absolute;
    top: -5%;
    right: 27%;
    font-size: 3.7rem;
    color: #ffffff;
}
.notification_title{
    font-size: 1.3rem;
    font-weight: 600;
    color: #1d1d1d;
    padding: 10px 20px;
    text-align: center;
}
.all_notification_box{
    width: 100%;
    max-height: 65vh;
    overflow-y: scroll;
}
.all_notification_box ::-webkit-scrollbar{
    display: none !important;
}
.notification_card{
    display: flex;
    align-items: flex-start;
    column-gap: 0.7rem;
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    margin-bottom: 1.0rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.notification_card img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.notify_name{
    font-size: 0.92rem;
    color: #1d1d1d;
}
.notification_card:hover{
    background: #dedede;
}

/* For Click to Show Profile Section */
.profile_box{
    position: fixed;
    float: right;
    right: -100%;
    top: 9%;
    width: 250px;
    max-height: 45vh;
    background: #ffffff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #dfdfdf; */
    /* border: 1px solid #a8a8a8; */
    border: 1px solid #dfdfdf;
    transition: all 0.2s ease-out;
    z-index: 1;
}
.box_indicator{
    position: absolute;
    top: -9%;
    right: 18%;
    font-size: 3.7rem;
    color: #ffffff;
}
.user_name{
    font-size: 1.2rem;
    font-weight: 600;
    color: #1d1d1d;
    letter-spacing: 0.07rem;
}
.divider{
    width: 100%;
    height: 1px;
    background: #dedede;
    margin: 0.6rem 0;
}
.profile_action_box{
    width: 100%;
    height: auto;
}
.action_card{
    display: flex;
    align-items: center;
    column-gap: 0.9rem;
    background: transparent;
    transition: 0.3s ease-out;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
.action_card:hover{
    background: #dedede;
}
.action_card .action_icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action_icon i{
    font-size: 1.2rem;
    color: #1d1d1d;
}
.action_name{
    font-size: 1.2rem;
    font-weight: 500;
    color: #1d1d1d;
}



/* Hero Section */
.hero_section{
    width: 100%;
    height: 45vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.65)), url("./img/bg3.png") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero_title{
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #ffffff;
}

/* Feature Image Styling */
.feature_images{
    width: 100%;
    height: auto;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.left_img_section{
    width: 35%;
    height: 65vh;
}
.left_img_section img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}
.middle_img_section{
    width: 37%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.middle_img_section img{
    width: 250px;
    height: 20vh;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}
.right_img_section{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.right_img_section img{
    width: 100%;
    height: 65vh;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}


/* Today Special Images Section */
.today_special{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 60px;
}
.title_action_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.box_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
}
.title_action_section a{
    font-size: 1.0rem;
    font-weight: 500;
    color: #f14c05;
}
.images_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.12rem;
}
.image_card{
    position: relative;
    width: 220px;
    height: 240px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.5s ease-out;
}
.image_card img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out;
}
/* On Card Hover */
.image_action_section{
    opacity: 0;
    transition: 0.5s ease-out;
}
.image_name{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    z-index: 1;
    transition: 0.5s ease-out;
}
.image_name .image_title{
    font-size: 0.89rem;
    font-weight: 500;
    color: #ffffff;
}
.image_name a{
    font-size: 1.3rem;
    color: #f14c05;
    background: transparent;
    transition: transform 0.3s ease-out;
}
.image_name a:hover{
    transform: scale(1.1);
}

.image_action{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75));
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1.2rem;
    padding: 12px 15px;
    transition: 0.5s ease-out;
}
.image_action button{
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.3rem;
    color: #f14c05;
    background: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.image_action button:hover{
    transform: scale(1.1);
}
.image_card:hover .image_action_section{
    opacity: 1;
    transition: 0.5s ease-out;
}

/* Banner SEction */
.banner_section{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    gap: 1.7rem;
    padding: 40px 60px;
}
.banner_card{
    width: 49%;
    height: 50vh;
    border-radius: 4px;
    box-shadow: 0 0.5px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
.banner_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Popular Categories Section */
.categories_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 60px;
}
.category_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
    padding: 20px 0;
}
.category_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.category_card{
    position: relative;
    width: 170px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #a8a8a8;
    overflow: hidden;
    cursor: pointer;
}
.category_card .cat_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cat_title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #f0f0f0;
    padding: 7px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Section */
.footer_section{
    width: 100%;
    height: auto;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.74)), url("./img/footer.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 60px;
}
.footer_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 1.3rem;
}
.about_section{
    width: 20%;
    height: auto;
    text-align: start;
}
.about_section a{
    font-size: 1.5rem;
    font-weight: 600;
    color: #f14c05;
    letter-spacing: 0.1rem;
    margin-bottom: 1.3rem;
}
.about_section p{
    font-size: 0.99rem;
    font-weight: 400;
    color: #a3a3a3;
}
.popular_tags{
    width: 40%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer_title{
    font-size: 1.4rem;
    font-weight: 600;
    color: #f0f0f0;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}
.tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.popular_tags a{
    padding: 5px 10px;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: #f0f0f0;
}
.quick_link{
    width: 15%;
    height: auto;
}
.links{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}
.links a{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.0rem;
    font-weight: 500;
    color: #a8a8a8;
}
.social_link{
    width: 15%;
    height: auto;
}
.social_box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}
.social_box a{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}
.social_box .icon{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: rgba(51, 51, 51, 0.58);
    border: 2px solid rgba(168, 168, 168, 0.56);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #dfdfdf;
}
.social_box h6{
    font-size: 1.2rem;
    font-weight: 600;
    color: #a8a8a8;
    letter-spacing: 0.1rem;
}
.footer_hr{
    width: 100%;
    height: 1px;
    background: #333333;
    margin: 30px 0;
}
.copy_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    color: #3c3c3c;
    font-weight: 500;
    letter-spacing: 0.03rem;
}








/*  */